<!DOCTYPE html>
<html>

<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
</head>

<body style='background-color: lightgrey;'>
  <div class="container">
    <div class="page-header">
      <h1>Audio I/O Control <small>Sharing speakers and mics.</small></h1>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-default" id="panel-input-source">
          <div class="panel-heading">
            <h3 class="panel-title">Input Source</h3>
            <button type="button" class="btn btn-default" onclick="connectInputSourceWebsocket()"
            id="button-input-source-connect">Connect</button>
          </div>

          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox" id="encode" />
            </span>
            <input type="text" class="form-control" placeholder="Encode" disabled="true">
          </div>
          <div class="input-group">
            <label for="number-of-channel">Number of Channel</label>
            <input type="number" class="form-control" placeholder="2" min="1" value="2" id="number-of-channel" />
          </div>
          <div class="input-group">
            <label for="sample-rate">Sample Rate</label>
            <input type="number" class="form-control" placeholder="44100" value="44100" id="sample-rate" />
          </div>
          <div class="input-group">
            <label for="frame-length">Frame Length</label>
            <input type="number" class="form-control" placeholder="1920" value="1920" id="frame-length" />
          </div>
          <div class="input-group">
            <label for="encoder-sample-rate">Encoder Sample Rate</label>
            <input type="number" class="form-control" placeholder="48000" value="48000" id="encoder-sample-rate" />
          </div>
          <div class="input-group">
            <label for="volume-control">Volume</label>
            <input type="range" class="form-control" id="volume-control" min="0" max="100" />
          </div>
          <div id="input-source-device">
            <label for="device-list">Device List</label> <br>
            <select id="device-list">
            </select>
            <button onclick="getInputDeviceList()" id="button-get-device-list">Get Device List</button>
          </div>

          <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" onclick="inputSourceStartRecord()">Start Record</button>
            <button type="button" class="btn btn-default" onclick="inputSourceStopRecord()">Stop Record</button>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="panel panel-default" id="panel-output-source">
          <div class="panel-heading">
            <h3 class="panel-title">Output Source</h3>
            <button type="button" class="btn btn-default" onclick="connectOutputSourceWebsocket()"
            id="button-output-source-connect">Connect</button>
          </div>

          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox" id="encode" />
            </span>
            <input type="text" class="form-control" placeholder="Encode" disabled="true">
          </div>
          <div class="input-group">
            <label for="number-of-channel">Number of Channel</label>
            <input type="number" class="form-control" placeholder="2" min="1" value="2" id="number-of-channel" />
          </div>
          <div class="input-group">
            <label for="channel-width">Channel Width</label>
            <input type="number" class="form-control" placeholder="2" min="1" value="2" id="channel-width" />
          </div>
          <div class="input-group">
            <label for="sample-rate">Sample Rate</label>
            <input type="number" class="form-control" placeholder="44100" value="44100" id="sample-rate" />
          </div>
          <div class="input-group">
            <label for="frame-length">Frame Length</label>
            <input type="number" class="form-control" placeholder="1920" value="1920" id="frame-length" />
          </div>
          <div class="input-group">
            <label for="encoder-sample-rate">Encoder Sample Rate</label>
            <input type="number" class="form-control" placeholder="48000" value="48000" id="encoder-sample-rate" />
          </div>
          <div class="input-group">
            <label for="volume-control">Volume</label>
            <input type="range" class="form-control" id="volume-control" min="0" max="100" value="0"/>
          </div>
          <div id="output-source-device">
            <label for="device-list">Device List</label> <br>
            <select id="device-list">
            </select>
            <button onclick="getOutputDeviceList()" id="button-get-device-list">Get Device List</button>
          </div>

          <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" onclick="outputSourceStartPlayback()">Start Playback</button>
            <button type="button" class="btn btn-default" onclick="outputSourceStopPlayback()">Stop Playback</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
      <br />
      <button onclick="toggleRecord()" id="record">Record</button>
      <br />
      <button onclick="recordLocal()" id="record-local">Record Local</button>
      <br />
      <button onclick="stopLocalRecord()" id="stop-record-local">Stop Local Recording</button>
      </div>
    </div>
  </div>
</body>

{% load static %}
<script src="{% static "speaker/libopus.js" %}"></script>
<script src="{% static "speaker/opus.js" %}"></script>
<script src="{% static "speaker/handler.js" %}"></script>
<script src="{% static "speaker/main.js" %}"></script>

</html>